body {
  background-color: aliceblue;
  width: fit-content;
}

#app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
  column-gap: 80px;
}

.card-title {
 
}

img {
  padding: 10px;
  border: 1px lightgrey solid;
  margin-top: 10px;
  max-width: 200px;
  margin: 10px auto; 
  height: 200px;
}

button {
  margin-top: 10px;
  margin-bottom: 50px ;
  margin-left: 30px;
  margin-right: 30px;
}
